includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./vendor/phpstan/phpstan-mockery/extension.neon

parameters:

    paths:
        - config
        - src
        - tests

    # The level 8 is the highest level
    level: 5

    ignoreErrors:
        - '#Access to an undefined property Illuminate\\Foundation\\Auth\\User#'
        - '#arameter \#1 $view of function view expects view-string|null, string given#'

#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
