includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./vendor/phpstan/phpstan-mockery/extension.neon

parameters:

    paths:
        - config
        - src
        - tests

    # The level 8 is the highest level
    level: 5

    ignoreErrors:
        #- '#Error to be ignored#'

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: true
